.header {
  display: flex;
  gap: 10px;

  h2 {
    flex: 1;
  }

  .actions {
    place-content: center;
    margin-right: 20px;
    padding: 10px;

    mat-icon{
        cursor: pointer;
    }
  }
}
