:host {
  display: flex;
  flex: 1;
  place-content: center;
  align-items: center;
}

.jee-knob-container {
  position: relative;
  flex-direction: column;

  .jee-knob-actions-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    .jee-knob-actions {
      display: flex;
      gap: 10px;
    }
  }
}

.jee-knob-action {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.jee-knob-without-knob{
    display: flex;
    flex: 1;
    place-content: center;
    align-items: center;


    .jee-knob-action{
        width: 30px;
        height: 30px;
    }

    .jee-knob-value{
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .label{
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
}

