<h2 mat-dialog-title>Commande : {{ settings.label }}</h2>
<mat-dialog-content>
  <div class="jeedom-command-picker">
    <div class="select-objects">
      <mat-form-field>
        <mat-label>Objet</mat-label>
        <mat-select [(ngModel)]="objectSelected">

          <mat-option>
            <ngx-mat-select-search [formControl]="objectFilterControl"></ngx-mat-select-search>
          </mat-option>

          @for (object of hierarchicalObjects; track object.id) {
            <ng-container *ngTemplateOutlet="optionsTree; context: {$implicit: object,  optionItem: object, isChild: false}"></ng-container>
          }

          <ng-template #optionsTree let-optionItem="optionItem" let-isChild="isChild">
            <mat-option [value]="optionItem">{{optionItem.name}}</mat-option>
            <div class="sub-objects" *ngFor="let children of optionItem.children">
             <div  *ngTemplateOutlet="optionsTree; context: {optionItem: children, isChild: true}"></div>
            </div>
          </ng-template>

          <ng-template #recursiveObjects let-object>
            @if (!object.children?.length) {
              <mat-option [value]="object">{{ object.name }}</mat-option>
            } @else {
              <mat-optgroup [value]="object" [label]="object.name">
                @for (childObject of object.children; track childObject.id) {
                   <ng-container *ngTemplateOutlet="recursiveObjects; context: {$implicit: childObject}"></ng-container>
                }
              </mat-optgroup>
            }
          </ng-template>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-equipments">
      <mat-form-field>
        <mat-label>Équipement</mat-label>
        <mat-select [(ngModel)]="equipmentSelected" (selectionChange)="onEquipmentSelected()">
          @for (equip of objectSelected?.eqLogics; track equip.id) {
            <mat-option [value]="equip">{{ equip.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-commands">
      <mat-form-field>
        <mat-label>Commandes</mat-label>
        <mat-select [(ngModel)]="commandSelected">
          @for (cmd of commands; track cmd.id) {
            <mat-option [value]="cmd">{{ cmd.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Annuler</button>
  <button mat-button color="primary" (click)="onCommandSelected()" cdkFocusInitial>Enregistrer</button>
</mat-dialog-actions>

<ng-template #recursiveObjects let-object>
  @if (!object.children?.length) {
    <mat-option [value]="object">{{ object.name }}</mat-option>
  } @else {
    <mat-optgroup [value]="object" [label]="object.name">
      @for (childObject of object.children; track childObject.id) {
        <mat-option [value]="childObject">{{ childObject.name }}</mat-option>
      }
    </mat-optgroup>
  }
</ng-template>
