@use '@assets/styles/media-sizes.scss' as *;

:host{

  --mat-select-panel-background-color: var(--body-bg)
}

.jeedom-command-picker {
  display: flex;
  gap: 15px;
  margin: 10px;

  @media #{$mat-lt-md} {
    flex-direction: column;
    mat-form-field{
      width: 100%;
    }
  }
}

.sub-objects{
  padding-left: 15px;
}
