@if (hasAlternatives()) {
  <mat-checkbox [(ngModel)]="showOriginalValues">Afficher les valeurs originales</mat-checkbox>
}

@if(!settings().hideFilters){
<div class="filters">
  @if (multiple()) {
    <mat-form-field>
      <mat-label>Filtre Série</mat-label>
      <mat-select [(ngModel)]="seriesSelected" multiple>
        @for (serie of settings()?.series; track $index) {
          <mat-option [value]="serie.name">{{ serie.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <mat-form-field>
    <mat-label>Filtre valeurs</mat-label>
    <mat-select [(ngModel)]="filtersSelected" multiple>
      @for (availableValue of availableValuesFilter(); track $index) {
        <mat-option [value]="availableValue">{{ showOriginalValues() ? availableValue.value : availableValue.displayValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
}
@for (value of values(); track $index) {
  <div [style.color]="value.color">
    @if (multiple()) {
      <span>({{ value.name }}) </span>
    }
    <span>Date : {{ value.date | date: "dd/MM/yyyy 'à' HH:mm" }}</span>
    -
    <span>Valeur : {{ showOriginalValues() ? value.value : value.displayValue }}</span>
  </div>
}
