input {
  width: 50px;
}

:host ::ng-deep {
  .mat-slider-thumb {
    transform: scale(0.7) !important;
  }

  .jee-slider-number {
    display: flex;
    flex-direction: row;
  }
}

mat-form-field {
  width: 90px;
}
